*{
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    margin:0;
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 600px;
}
.container{
    width: 960px;
    min-height: fit-content;
}
.container header{
    display: flex;
    justify-content: space-around;
    padding-top: 20px ;
}
 .container header .logo{
    display: flex;
    margin: 0, auto;
    height: 50px;
    width: 70%;
 }
 .container header nav{
    display: flex;
    height: 50px;
    width: 200%;
    align-items: start;
 }

 .container header nav a{
    text-decoration: none;
    text-align: justify;
    height: 50px;
    width: 18%;
    color: black;
    padding: 10px 0;
 }
 .container .banner img{
    width: 790px;
    padding-top: 20px;
    
 }
 .container .main-content{
    display:flex;
    justify-content: space-around;
    height: auto;
 }
 .container .text, .text2 { 
    height: 150px;
    width: 50%;
    margin: 15px;
 }

.container {
    height: 150px;
    width: 50%;
}

.container .section2 h1{
    padding: 11px;
}

.container .section2{
    width: 100%;
    height: 290x;
}

.container .section2 table{
    height: 300px;
    width: 100%;
    border-color: rgb(236, 202, 202);
    margin: 0, 30px;
    border-width: 5px;

}
.container .section2 tr{
    text-align: center;
    font-size: small;
    color:white;
    
}


body table .box1 .bo1, .bo2, .bo3, .bo4, .bo5, .bo6, .bo7, .bo8, .bo9, .bo10{
    background-color: rgb(9, 85, 81);
    border: solid;
    border-width: 20px;
    border-color: white;
    padding: 10px;
}

body table .box1 .bo2{
    background-color: rgb(219, 207, 31);
}
body table .box1 .bo3{
    background-color: rgb(93, 163, 230);
}
body table .box1 .bo4{
background-color: rgb(219, 110, 70);
}
body table .box1 .bo5{
    background-color: rgb(214, 41, 70);
}
body table .box2 .bo6{
    background-color: green;
}
body table .box2 .bo7{
    background-color: blueviolet;
}
body table .box2 .bo8{
    background-color: rgb(226, 43, 134);
}
body table .box2 .bo9{
    background-color: purple;
}
body table .box2 .bo10{
    background-color: rgb(36, 64, 190);
}
.container .footer{
    display: flex;
    justify-content: center;
    width: 100;
    height: 130px;
    margin: 15px;
}

.container .footerwidget{
    width:100%;
    height:70px;
    background-color:black;
    display: flex;

}
.container .footerwidget a{
    color: #eee;
    text-decoration: none;
    height: 50px;
    width: 13%;  
    text-align: left; 
    margin: 1%; 
}

.container .Atext {
    margin: auto;
    text-align: justify;
    padding: 0% 20px;
}

.container .aboutcontent, .aboutcontent2 .button{
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 60px;
    padding: 10px;
}

.container .aboutcontent input{
    width: 100px;
    height: 50px;
    border-radius: 10px;
}

.container .aboutcontent .strategy, .how, .places, .collaboration{
    margin: 10px;
    width: 45%; 
    padding: 3px;
}
.container .aboutcontent img{
    width: 100%;
    height: 50%;
}
.container hr{
    border-top: dotted;
}
.container .footer .aboutfoot{
    margin: 2px 4px;
    text-align: justify;
    padding: 2px;
}



